*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
.custom-logo{
  width: 30%;
  height: auto;
}
.mainColour{
  background-color: #59caf9 !important;
}
#top_nav{
  justify-content: flex-end;
}
.footerNav{
    list-style: none;
}
